html,body{
    width: 100%;
    direction: rtl;
    font-family: shabnam;
    overflow-x: hidden;
}
@font-face{
    font-family:shabnam;
    src:url(../font/Shabnam.woff);
}
.round-btn{
    border-radius: 4vh;
}

.blue-btn{
    background-color:rgb(31,70,113);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.blue-btn:hover{
    background-color: rgb(46, 139, 175);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.blue-btn2{
    background-color: rgb(46, 139, 175);
     transition:  all .5s ease-in-out;
     -webkit-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
 }
.blue-btn2:hover{
    background-color:rgb(31,70,113);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.purple-btn{
    border-color: rgb(31,70,113);
    border-width: 1.6px;
    background-color:white;
    color: rgb(31,70,113);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.purple-btn:hover{
    background-color:rgb(46, 139, 175);
    color: white;
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.cinema-btn{
    font-size: 13px;
    border-color: rgb(172, 172, 172);
    border-width: 1px;
    background-color:white;
    color: rgb(88, 88, 88);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.cinema-btn:hover{
    background-color: rgb(199, 199, 199);
    color: white;
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.borderbtn{
    border-color: rgb(255, 255, 255);
    border-width: 1.6px;
}
.blue-txt{
    color: black;
}
.blue-txt:hover{
    color: rgb(46, 139, 175);
}
.fa-icons1{
    color:rgb(46, 139, 175);
    font-size: 1.4em;
}
.fa-icons5{
    color: rgb(31,70,113);
    font-size: 1.2em;
}
.img-effect{
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.img-effect:hover{
    opacity: 0.6;
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.footer{
    list-style-type: none;
    overflow: hidden;
}

.footeritem{
    float: left;
}

.footeritem a{
    display: block;
    color: #868686;
    text-align: center;
    text-decoration: none;
}
.footeritem a:hover {
    color: rgb(46, 139, 175);
}
.fa-icons2{
    color: white;
    font-size: 1.3em;
    padding-top: 25%;
}
.footer-icon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.footer-icon:hover{
    -webkit-filter: saturate(6);
    filter: saturate(6);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.vorudlink{
    color: rgb(46, 139, 175);
}
.vorudlink:hover{
    color: #1b3e65;
}
.txthover{
    color: rgb(0, 0, 0);
}
.txthover:hover{
    color: #0879a0;
}
.bg-full{
    background-size: cover;
    background-attachment: fixed;
    height: 75%;
}
.bg-full2{
    background-size: cover;
    background-attachment: fixed;
    max-height: 75%;
}
.filmtxt{
    background-color: rgba(38, 38, 38, 0.8);
    border-radius: 1vh;
}
.myImg {
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 170px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal2-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding-top: 40%;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal2-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close2 {
    position: absolute;
    top: 13%;
    right: 35px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal2-content {
        width: 100%;
    }
}
.pastsans-panel{
    background-color: rgb(229, 229, 229);
}
.sans-panel{
    background-color: rgb(248, 248, 248);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.sans-panel:hover{
    background-color: rgb(236, 236, 236);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.search{
    width: 150px;
    color: #b21f2d;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    background-color: white;
    background-image: url('../imgs/searchicon.png');
    background-position: 10px 9px;
    background-repeat: no-repeat;
    padding: 9px 20px 9px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 100%;
}
/*snackbar*/
#codeSnackbar {
    visibility: hidden;
    min-width: 250px;
    /*margin-right: 400px;*/
    background-color: rgba(51, 51, 51, 0.87);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 12px 4px 12px 4px;
    position: fixed;
    z-index: 1;
    right: 42%;
    bottom: 100px;
    font-size: 15px;
}

#codeSnackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.7s, fadeout 0.5s 2.5s;
    animation: fadein 0.7s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.imgtxt{
    position: absolute;
    z-index: 1;
    margin: 3% 1%;
}
.topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(46, 46, 46, 0.6); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    /*padding: 15px; !* Some padding *!*/
    border-radius: 1vh; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}

.topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.topelement{
    border: 1px solid #fefefe;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    top: 97px; /* Place the button at the bottom of the page */
    left: 23px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
    background-color: rgba(22, 108, 145, 0.6); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    font-size: 15px; /* Increase font size */
    text-shadow: 1px 1px 2px black, 0 0 25px #2d07ff, 0 0 5px darkblue;
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    box-shadow: 8px 8px 4px #c0c0c0;
}
.topelement:hover {
    background-color: rgba(47, 143, 180, 0.88); /* Add a dark-grey background on hover */
    color: white;
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.disabled2 {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
