html,body{
    width: 100%;
    direction: rtl;
    font-family: shabnam;
    overflow-x: hidden;
}
@font-face{
    font-family:shabnam;
    src:url(../font/Shabnam.woff);
}
.round-btn{
    border-radius: 4vh;
}

.blue-btn{
    background-color:rgb(31,70,113);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.blue-btn:hover{
    background-color: rgb(46, 139, 175);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.blue-btn2{
    background-color: rgb(46, 139, 175);
     transition:  all .5s ease-in-out;
     -webkit-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
 }
.blue-btn2:hover{
    background-color:rgb(31,70,113);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.purple-btn{
    border-color: rgb(31,70,113);
    border-width: 1.6px;
    background-color:white;
    color: rgb(31,70,113);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.purple-btn:hover{
    background-color:rgb(46, 139, 175);
    color: white;
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.cinema-btn{
    font-size: 13px;
    border-color: rgb(172, 172, 172);
    border-width: 1px;
    background-color:white;
    color: rgb(88, 88, 88);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.cinema-btn:hover{
    background-color: rgb(199, 199, 199);
    color: white;
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.borderbtn{
    border-color: rgb(255, 255, 255);
    border-width: 1.6px;
}
.blue-txt{
    color: black;
}
.blue-txt:hover{
    color: rgb(46, 139, 175);
}
.fa-icons1{
    color:rgb(46, 139, 175);
    font-size: 1.4em;
}
.fa-icons5{
    color: rgb(31,70,113);
    font-size: 1.2em;
}
.img-effect{
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.img-effect:hover{
    opacity: 0.6;
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.footer{
    list-style-type: none;
    overflow: hidden;
}

.footeritem{
    float: left;
}

.footeritem a{
    display: block;
    color: #868686;
    text-align: center;
    text-decoration: none;
}
.footeritem a:hover {
    color: rgb(46, 139, 175);
}
.fa-icons2{
    color: white;
    font-size: 1.3em;
    padding-top: 25%;
}
.footer-icon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.footer-icon:hover{
    -webkit-filter: saturate(6);
    filter: saturate(6);
    transition:  all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.vorudlink{
    color: rgb(46, 139, 175);
}
.vorudlink:hover{
    color: #1b3e65;
}
.txthover{
    color: rgb(0, 0, 0);
}
.txthover:hover{
    color: #0879a0;
}
.bg-full{
    background-size: cover;
    background-attachment: fixed;
    height: 75%;
}
.bg-full2{
    background-size: cover;
    background-attachment: fixed;
    max-height: 75%;
}
.filmtxt{
    background-color: rgba(38, 38, 38, 0.8);
    border-radius: 1vh;
}
.myImg {
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 170px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal2-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding-top: 40%;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal2-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close2 {
    position: absolute;
    top: 13%;
    right: 35px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal2-content {
        width: 100%;
    }
}
.search{
    width: 150px;
    color: #b21f2d;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    background-color: white;
    background-image: url('../imgs/searchicon.png');
    background-position: 10px 9px;
    background-repeat: no-repeat;
    padding: 9px 20px 9px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 100%;
}